<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <body
    style="
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    "
  >
    <div style="background: #efefef; border-radius: 10px; padding: 10px">
      <div style="margin: 0 auto; width: 90%; text-align: center">
        <h1
          style="
            background-color: #0d3411;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
          "
        >
          {{ title }}
        </h1>
        <div
          style="
            margin: 20px auto;
            background: white;
            width: 60%;
            border-radius: 10px;
            padding: 50px;
            text-align: center;
          "
        >
          <p style="margin-bottom: 10px">Hola {{ user_email }}!</p>
          <p style="margin-bottom: 30px">
            to change your password click the following button
          </p>
          <a
            style="
              margin: 0 auto;
              border: none;
              background-color: #2d8254;
              color: white;
              width: 200px;
              line-height: 24px;
              padding: 10px 18px;
              font-size: 18px;
              border-radius: 10px;
              cursor: pointer;
              text-decoration: none;
            "
            href="{{ link }}"
            target="_blank"
          >
            restore
          </a>
        </div>
      </div>
    </div>
  </body>
</html> 